
*.ipch
.vs/OpenGL/v17/ipch/AutoPCH/1ea386c0ceeaa718/SHADER.ipch
.vs/OpenGL/v17/ipch/AutoPCH/1ea386c0ceeaa718/SHADER.ipch
.vs/OpenGL/v17/ipch/AutoPCH/1ea386c0ceeaa718/SHADER.ipch
.vs/OpenGL/v17/ipch/AutoPCH/2f553c7543a1d29f/APPLICATION.ipch
.vs/OpenGL/v17/ipch/AutoPCH/2f553c7543a1d29f/APPLICATION.ipch
.vs/OpenGL/v17/ipch/AutoPCH/df8c5f4647ca9f1c/SOURCE.ipch
*.ipch
*.ipch
.vs/OpenGL/v17/ipch/AutoPCH/1ea386c0ceeaa718/SHADER.ipch
.vs/OpenGL/v17/ipch/AutoPCH/1ea386c0ceeaa718/SHADER.ipch
*.ipch
*.ipch
.vs/OpenGL/v17/ipch/AutoPCH/6695943fd40c0a09/VERTEXBUFFER.ipch
bin/Debug-windows-x86_64/OrbiterEditor/OrbiterEditor.pdb
bin/Debug-windows-x86_64/OrbiterEditor/OrbiterEditor.pdb
bin/Debug-windows-x86_64/OrbiterEditor/OrbiterEditor.pdb
